In [18]:
import pandas as pd
import requests

import sys
!{sys.executable} -m pip install knoema
import knoema

In [3]:
climate = pd.read_csv('climate-change_bra.csv')

In [7]:
clean_climate = climate[['Year', 'Indicator Name', 'Value']]
clean_climate

,Year,Indicator Name,Value
0,#date+year,#indicator+name,#indicator+value+num
1,2016,Agricultural land (sq. km),2835460
2,2015,Agricultural land (sq. km),2840830
3,2014,Agricultural land (sq. km),2835790
4,2013,Agricultural land (sq. km),2795620
...,...,...,...
1831,1964,Urban population (% of total population),50.059
1832,1963,Urban population (% of total population),49.078
1833,1962,Urban population (% of total population),48.099
1834,1961,Urban population (% of total population),47.122
1835,1960,Urban population (% of total population),46.139

In [27]:
# Different Indicators of the table

cc = set(clean_climate['Indicator Name'].values)

cc

{'#indicator+name',
 'Access to electricity (% of population)',
 'Agricultural irrigated land (% of total agricultural land)',
 'Agricultural land (% of land area)',
 'Agricultural land (sq. km)',
 'Agriculture, forestry, and fishing, value added (% of GDP)',
 'Annual freshwater withdrawals, total (% of internal resources)',
 'Annual freshwater withdrawals, total (billion cubic meters)',
 'Arable land (% of land area)',
 'Average precipitation in depth (mm per year)',
 'CO2 emissions (kg per 2010 US$ of GDP)',
 'CO2 emissions (kg per 2017 PPP $ of GDP)',
 'CO2 emissions (kg per PPP $ of GDP)',
 'CO2 emissions (kt)',
 'CO2 emissions (metric tons per capita)',
 'CO2 emissions from gaseous fuel consumption (% of total)',
 'CO2 emissions from gaseous fuel consumption (kt)',
 'CO2 emissions from liquid fuel consumption (% of total)',
 'CO2 emissions from liquid fuel consumption (kt)',
 'CO2 emissions from solid fuel consumption (% of total)',
 'CO2 emissions from solid fuel consumption (kt)',
 'CO2 intensity (kg per kg of oil equivalent energy use)',
 'Cereal yield (kg per hectare)',
 'Disaster risk reduction progress score (1-5 scale; 5=best)',
 'Droughts, floods, extreme temperatures (% of population, average 1990-2009)',
 'Ease of doing business index (1=most business-friendly regulations)',
 'Foreign direct investment, net inflows (% of GDP)',
 'Forest area (% of land area)',
 'Forest area (sq. km)',
 'GHG net emissions/removals by LUCF (Mt of CO2 equivalent)',
 'HFC gas emissions (thousand metric tons of CO2 equivalent)',
 'Land area where elevation is below 5 meters (% of total land area)',
 'Marine protected areas (% of territorial waters)',
 'Methane emissions (% change from 1990)',
 'Methane emissions (kt of CO2 equivalent)',
 'Mortality rate, under-5 (per 1,000 live births)',
 'Nitrous oxide emissions (% change from 1990)',
 'Nitrous oxide emissions (thousand metric tons of CO2 equivalent)',
 'Other greenhouse gas emissions (% change from 1990)',
 'Other greenhouse gas emissions, HFC, PFC and SF6 (thousand metric tons of CO2 equivalent)',
 'PFC gas emissions (thousand metric tons of CO2 equivalent)',
 'Population growth (annual %)',
 'Population in urban agglomerations of more than 1 million (% of total population)',
 'Population living in areas where elevation is below 5 meters (% of total population)',
 'Population, total',
 'Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)',
 'Prevalence of underweight, weight for age (% of children under 5)',
 'Primary completion rate, total (% of relevant age group)',
 'Renewable energy consumption (% of total final energy consumption)',
 'Rural land area where elevation is below 5 meters (% of total land area)',
 'Rural land area where elevation is below 5 meters (sq. km)',
 'Rural population living in areas where elevation is below 5 meters (% of total population)',
 'SF6 gas emissions (thousand metric tons of CO2 equivalent)',
 'School enrollment, primary and secondary (gross), gender parity index (GPI)',
 'Terrestrial and marine protected areas (% of total territorial area)',
 'Terrestrial protected areas (% of total land area)',
 'Total greenhouse gas emissions (% change from 1990)',
 'Total greenhouse gas emissions (kt of CO2 equivalent)',
 'Urban land area where elevation is below 5 meters (% of total land area)',
 'Urban land area where elevation is below 5 meters (sq. km)',
 'Urban population',
 'Urban population (% of total population)',
 'Urban population growth (annual %)',
 'Urban population living in areas where elevation is below 5 meters (% of total population)'}

In [28]:
# Emissions

emissions = clean_climate[clean_climate['Indicator Name'] == 'CO2 emissions (kt)']
emissions

     Year      Indicator Name       Value
622  2014  CO2 emissions (kt)   529808.16
623  2013  CO2 emissions (kt)  503677.118
624  2012  CO2 emissions (kt)  470028.726
625  2011  CO2 emissions (kt)  439412.943
626  2010  CO2 emissions (kt)  419754.156
627  2009  CO2 emissions (kt)  367147.374
628  2008  CO2 emissions (kt)  387631.236
629  2007  CO2 emissions (kt)  363212.683
630  2006  CO2 emissions (kt)   347668.27
631  2005  CO2 emissions (kt)  347308.904
632  2004  CO2 emissions (kt)  337826.042
633  2003  CO2 emissions (kt)  321621.569
634  2002  CO2 emissions (kt)   332266.87
635  2001  CO2 emissions (kt)  337433.673
636  2000  CO2 emissions (kt)  327983.814
637  1999  CO2 emissions (kt)  320173.104
638  1998  CO2 emissions (kt)  312289.054
639  1997  CO2 emissions (kt)   300547.32
640  1996  CO2 emissions (kt)  284782.887
641  1995  CO2 emissions (kt)  258347.484
642  1994  CO2 emissions (kt)  242154.012
643  1993  CO2 emissions (kt)  230738.641
644  1992  CO2 emissions (kt)  220705.729
645  1991  CO2 emissions (kt)  219330.604
646  1990  CO2 emissions (kt)  208886.988
647  1989  CO2 emissions (kt)  214024.455
648  1988  CO2 emissions (kt)  209363.698
649  1987  CO2 emissions (kt)  207530.198
650  1986  CO2 emissions (kt)  198883.412
651  1985  CO2 emissions (kt)  181248.809
652  1984  CO2 emissions (kt)  168806.678
653  1983  CO2 emissions (kt)  166632.147
654  1982  CO2 emissions (kt)  172176.651
655  1981  CO2 emissions (kt)  171806.284
656  1980  CO2 emissions (kt)   187090.34
657  1979  CO2 emissions (kt)  188322.452
658  1978  CO2 emissions (kt)  176925.416
659  1977  CO2 emissions (kt)   162961.48
660  1976  CO2 emissions (kt)  155154.437
661  1975  CO2 emissions (kt)  151164.741
662  1974  CO2 emissions (kt)  143456.707
663  1973  CO2 emissions (kt)  132463.041
664  1972  CO2 emissions (kt)  114362.729
665  1971  CO2 emissions (kt)  102635.663
666  1970  CO2 emissions (kt)   93761.523
667  1969  CO2 emissions (kt)   84315.331
668  1968  CO2 emissions (kt)   77421.371
669  1967  CO2 emissions (kt)   66193.017
670  1966  CO2 emissions (kt)   64304.512
671  1965  CO2 emissions (kt)    56398.46
672  1964  CO2 emissions (kt)   56735.824
673  1963  CO2 emissions (kt)   55617.389
674  1962  CO2 emissions (kt)   53695.881
675  1961  CO2 emissions (kt)   49203.806
676  1960  CO2 emissions (kt)   46908.264

In [19]:
knoema.get('WBWDI2019Jan', frequency='A', Country='BRA', Series='AG.PRD.CREL.MT')

Country                             Brazil
Series     Cereal production (metric tons)
Frequency                                A
1961-01-01                      15036353.0
1962-01-01                      15918336.0
1963-01-01                      16616892.0
1964-01-01                      16469226.0
1965-01-01                      20350793.0
1966-01-01                      17867924.0
1967-01-01                      20322328.0
1968-01-01                      20418801.0
1969-01-01                      20549860.0
1970-01-01                      23698316.0
1971-01-01                      22814265.0
1972-01-01                      22703928.0
1973-01-01                      23721606.0
1974-01-01                      26240014.0
1975-01-01                      26238419.0
1976-01-01                      31143200.0
1977-01-01                      30913834.0
1978-01-01                      24033646.0
1979-01-01                      27147322.0
1980-01-01                      33217492.0
1981-01-01                      32050567.0
1982-01-01                      33838263.0
1983-01-01                      29197566.0
1984-01-01                      32711289.0
1985-01-01                      36011139.0
1986-01-01                      37298400.0
1987-01-01                      44148398.0
1988-01-01                      42905037.0
1989-01-01                      43934410.0
1990-01-01                      32490390.0
1991-01-01                      36682063.0
1992-01-01                      44057994.0
1993-01-01                      43073467.0
1994-01-01                      45845332.0
1995-01-01                      49641823.0
1996-01-01                      42436960.0
1997-01-01                      44874820.0
1998-01-01                      40742023.0
1999-01-01                      47631962.0
2000-01-01                      46527202.0
2001-01-01                      57125393.0
2002-01-01                      50875594.0
2003-01-01                      67454329.0
2004-01-01                      63953364.0
2005-01-01                      55670925.0
2006-01-01                      59148978.0
2007-01-01                      69441634.0
2008-01-01                      79745466.0
2009-01-01                      70914791.0
2010-01-01                      75160152.0
2011-01-01                      77586276.0
2012-01-01                      89908244.0
2013-01-01                     100901726.0
2014-01-01                     101402184.0
2015-01-01                     106028113.0
2016-01-01                      84128732.0
2017-01-01                     117784130.0